/* ====================================== */
/* ! Imports                              */
/* ====================================== */

@import url(jquery.mobile.css);
/* Novocento */
@font-face {font-family: 'nove';src: url('../webfonts/26D8EC_0_0.eot');src: url('../webfonts/26D8EC_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/26D8EC_0_0.woff') format('woff'),url('../webfonts/26D8EC_0_0.ttf') format('truetype'),url('../webfonts/26D8EC_0_0.svg#wf') format('svg');}

/* ====================================== */
/* ! Custom                               */
/* ====================================== */

/* jMobile Reset */
* { -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection */
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: auto !important;       /* prevent copy paste, to allow, change 'none' to 'text' */ }

.clear { clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0; }
a { text-decoration: none; color: #575351; }
a.button, .ui-submit { display: block; padding: 3px 10px 5px; background: #1c9280; color: #FFF !important; text-shadow: none; font-family: 'nove'; font-weight: normal !important; border-radius: 3px; border: none; margin: 20px auto 0; width: 80% !important; }
a.button.send { font-size: 35px; text-align: center; padding-top: 5px; padding-bottom: 10px; }
label.ui-input-text { font-family: 'nove'; font-size: 35px; text-align: center; color: #DE265F; }
div.ui-input-text { background: #EBEBEB; box-shadow: 0 0 5px 1px rgba(0,0,0,.05); border-radius: 3px; border: solid 2px #cdcdcd; }
textarea { border-radius: 0 !important; height: 130px !important; margin-top: 0 !important; border-radius: 3px; border: solid 2px #cdcdcd; }
.ui-btn-inner { border: none; }
.ui-focus, .ui-btn:focus { background: #FFF !important; text-shadow: none !important; color: #575351 !important; }
.ui-input-text.ui-focus, .ui-input-search.ui-focus { box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); }

/* Messages */
.error { color: #DE265F; font-size: 12px; font-weight: bold; text-align: center; }
.error.username { margin-bottom: 20px; }
.error.takePicture { margin: 20px 0; }

/* Loading spinner */
.ui-loader { background: url("../res/app/spinner_32.gif") no-repeat scroll center center #ebebeb; height: 100%; width: 100%; border-radius: 0 !important; left: 0 !important; top: 0 !important; margin: 0 !important; opacity: 1 !important; z-index: 998 !important; }
.ui-loader .ui-icon { display: none; }

/* Transition timings */
.in, .out { -webkit-animation-timing-function: ease-in-out; -webkit-animation-duration: 100ms !important; }
.ui-mobile-viewport-transitioning, .ui-mobile-viewport-transitioning .ui-page { overflow: visible; }

/* Background */
.ui-body-c, .ui-overlay-c { background: #ebebeb; color: #575351; }

/* Header */
.ui-header.ui-bar-a { font-family: 'nove', Helvetica, Arial, sans-serif; text-shadow: none; background: /*#1cb79d*/ #1c9280; border: none; box-shadow: 0 0 3px 0px #747474; letter-spacing:-1px; }
.ui-header .ui-title { font-size: 30px; margin: 0.4em 0; }

/* Footer */
.ui-footer.ui-bar-a { background: none; border: none; }
/* Buttons Farben */
.ui-grid-d .ui-btn { background: linear-gradient(to bottom, #3b3937 0%, black 60%); }
.ui-grid-d .ui-btn-active, .ui-grid-d .ui-focus, .ui-grid-d .ui-btn:focus { background: none !important; background-color: #4f4d4b !important; box-shadow: inset 0 0 6px rgba(15,14,9,.75); }
/* Buttons */
.ui-grid-d { box-shadow: 0 -5px 0 0 #22211f inset; }
.ui-grid-d li { padding-top: 1.5em !important; padding-bottom: 0em !important; border: none; padding-left: 0; padding-right: 0; background: none; }
.ui-grid-d .ui-btn-inner { border: none; }
.ui-grid-d .ui-btn-text { display: block; text-indent: -99999px; padding-bottom: 2.5em; }
.ui-grid-d .ui-block-a .ui-btn-text { background: url("../res/app/btn-1.png") no-repeat scroll center center transparent; background-size: auto 60%; }
.ui-grid-d .ui-block-b .ui-btn-text { background: url("../res/app/btn-2.png") no-repeat scroll center center transparent; background-size: auto 60%; }
.ui-grid-d .ui-block-d .ui-btn-text { background: url("../res/app/btn-4.png") no-repeat scroll center center transparent; background-size: auto 60%; }
.ui-grid-d .ui-block-e .ui-btn-text { background: url("../res/app/btn-5.png") no-repeat scroll center center transparent; background-size: auto 60%; }
.ui-grid-d .ui-btn-active { border: none; }
/* Mitte */
.ui-grid-d .ui-block-c .ui-btn { border-top-left-radius: 10px; border-top-right-radius: 10px; }
.ui-grid-d .ui-block-c { padding-top: .85em !important; }
.ui-grid-d .ui-block-c .ui-btn-text { background: url("../res/app/btn-3.png") no-repeat scroll center center transparent; background-size: auto 115%; padding-bottom: 3.4em; }


/* ====================================== */
/* ! Content                              */
/* ====================================== */

/* start */
#start, #start .ui-content { height: 100%; margin: 0; padding: 0; }
#start .logo { height: 40%; width: 100%; background: url("../res/app/logo.png") center center no-repeat; background-size: auto 50%; position: relative; z-index: 999; }
#start .user { width: 80%; margin: 0 auto; position: relative; z-index: 999; }
#start .user div.ui-input-text { margin: 20px 0 5px; }
#start .user input { font-size: 35px; text-align: center; }


/* Willkommen */
.ui-content { padding-left: 0; padding-right: 0; }
.ui-content h1, .ui-content .content { padding-left: 35px; padding-right: 35px; }
.ui-content h1 { font-family: 'nove', Helvetica, Arial, sans-serif; letter-spacing:-1px; color: #de285f; font-size: 30px; margin-top: 30px; margin-bottom: 20px; }
.ui-content .content { background: #f7f6f6; box-shadow: 0 1px #fff, inset 0 -1px rgba(68,45,19,.1); padding-top: 1px; padding-bottom: 15px; line-height: 1.5; }

/* Veranstaltung */
.ui-content .content.list { padding-left: 0; padding-right: 0; background: none; box-shadow: none; }
.ui-collapsible { padding-left: 15px; padding-right: 15px; border-bottom: 2px solid rgba(68,45,19,.1); background: #f7f6f6; }
.ui-collapsible .ui-btn-inner, .ui-collapsible .ui-collapsible-content { padding-left: 35px; }
.ui-collapsible .ui-btn { border: none; }
.ui-collapsible .ui-btn-inner { background: #f7f6f6; color: #575351; font-weight: normal; text-shadow: none; border: none; } /* ausgewählt */
.ui-collapsible .ui-btn-inner.selected { font-weight: bold; background: url("../res/app/list-checked.png") no-repeat 13px center #c8e0dc; background-size: auto 30%; color: #1c9381; } /* geschlossen */
.ui-collapsible .ui-icon { border: none; background: none; box-shadow: none; border-radius: 0; right: 25px; }
.ui-collapsible .ui-icon.ui-icon-plus { background: url("../res/app/list-down.png") no-repeat center center transparent; background-size: 100% auto; }
.ui-collapsible .ui-icon.ui-icon-minus { background: url("../res/app/list-up.png") no-repeat center center transparent; background-size: 100% auto; }
.ui-collapsible .description { background: #FFF; border: solid 1px #cdcdcd; padding: 15px; margin-right: 10px; }
.ui-collapsible .description .logo, .ui-collapsible .description .time { float: left; width: 50%; }
.ui-collapsible .description .time {text-align: right; font-size: 10px; }
.ui-collapsible .description .time span { display: block; }
.ui-collapsible .description .text { font-size: 12px; margin-top: 10px; }
.ui-collapsible .select a.button { margin: 10px 20px; float: right; font-size: 12px; border-radius: 0; }

/* Kategorien */
#categories .content { padding-bottom: 0; }
#categories .chooseCat, #categories .chooseCat .ui-btn, #categories .chooseCat .ui-focus, #categories .takePic, #categories .leaveCom  { color: #575351; border: none; border-bottom: 1px solid rgba(68,45,19,.1); border-radius: 0; background: #f7f6f6 !important; box-shadow: none; text-align: left; font-weight: normal; margin: 0 !important; }
#categories .chooseCat,  #categories .leaveCom { padding: 10px 0 10px 35px; }
#categories .chooseCat, #categories .chooseCat .ui-btn-text, #categories .takePic, #categories label, #categories .leaveCom textarea { font-size: 13px !important; font-family: Arial, Helvetica, sans-serif; color: #575351; text-align: left; }
#categories .chooseCat .ui-btn { border: none; }
#categories .chooseCat .ui-btn-text, #categories .takePic span.pictureFromCameraOK { color: #1C9381; font-weight: bold; }
#categories .chooseCat .ui-btn-inner { padding-left: 0; }
#categories .chooseCat .ui-ico { background: url("../res/app/list-choose.png") no-repeat center right transparent !important; background-size: 50% auto !important; border-radius: 0; right: 20px; }
#categories .chooseCat .ui-icon { display: block; padding: 3px 10px 5px; background: #1c9280; color: #FFF !important; text-shadow: none; font-family: 'nove'; font-weight: normal !important; font-size: 11px; border-radius: 0; border: none; width: auto; right: 20px; margin-top: -13px }
#categories .takePic { padding: 10px 0 10px 35px; }
#categories .takePic span { display: block; width: 100%; }
#categories .takePic span.pictureFromCameraOK { float: left; margin-top: 12px; width: auto; }
#categories .takePic a.button { border-radius: 0; float: right; width: auto !important; font-size: 11px; margin-right: 20px; margin-top: 10px; }
#categories .leaveCom { padding-right: 20px; }
#categories .leaveCom .maxlenght { font-size: 11px; margin: 10px 0 0; text-align: right; color: #928f8d; }

/* Gallery */
#gallery .imageWrapper { margin-bottom: 10px; }
#gallery .thumbnail { height: 150px; overflow: hidden; position: relative; background: #f7f6f6; }
#gallery .imageWrapper img { position: absolute; top: -45%; left: 0; width: 100%; }
#gallery .imageWrapper .details {  }

/* Über */
#about .publisher { color: #575351; border: none; border-bottom: 1px solid rgba(68,45,19,.1); border-radius: 0; background: #f7f6f6 !important; box-shadow: none; text-align: left; font-weight: normal; margin: 0 !important; padding: 10px 25px 10px 35px; }