<!-- for more info check https://build.phonegap.com/docs/config-xml -->
<!-- APPSTORE:
	 id        = "com.hfkbremen.VOIVOI"
	 PLAYSTORE:
	 id        = "com.eventfive.VOIVOI"
	 versionCode is optional and Android only -->
	 
<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.eventfive.VOIVOI"
        version   = "2.2"
		versionCode = "720" >
    <name>VOIVOI</name>

    <description>VOIVOI  - dokumentiere deine Sicht einer Veranstaltung!

Die bietet App einen neuen und einfachen Weg, Momente einzufangen und zu teilen. Zu verschiedenen Kategorien kann man ein Bild aufnehmen und optional mit einem Kommentar versehen. Basierend auf dem Prinzip einer Einwegkamera ist jede Kategorie nach Aufnahme eines Bildes aufgebraucht.
Die dadurch entwickelte Dokumentation lässt an den Eindrücken der anderen Besucher teilhaben.

Voraussetzung für die Nutzung von VOIVOI ist eine bestehende Internetverbindung.

    </description>

    <author href="http://eventfive.de" email="info@eventfive.de">eventfive GmbH</author>

	<!-- If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires. none OR any -->
	<!-- <preference name="permissions" value="none"/> -->

    <feature name="http://api.phonegap.com/1.0/device" /> <!-- maps to ID_CAP_IDENTITY_DEVICE permission -->
	<feature name="http://api.phonegap.com/1.0/camera"/> <!-- maps to android:CAMERA permission -->
	<!-- <feature name="http://api.phonegap.com/1.0/media"/> --> <!-- maps to android:RECORD_AUDIO, android:RECORD_VIDEO, android:MODIFY_AUDIO_SETTINGS permissions -->
    <feature name="http://api.phonegap.com/1.0/network"/> <!-- maps to android:ACCESS_NETWORK_STATE permissions -->
	<feature name="http://api.phonegap.com/1.0/storage"/>
	<feature name="http://api.phonegap.com/1.0/file"/> <!-- maps to WRITE_EXTERNAL_STORAGE permission -->
	<feature name="http://api.phonegap.com/1.0/notification"/> <!-- maps to VIBRATE permission -->
	
	<!--<access origin="*" />-->
	<access origin="http://voivoi.eventfive.de" /> <!-- denies access to external resources.  -->

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
	<preference name="autorotate"		value="false" readonly="true"/>
	<!-- IOS specific -->
	<preference name="prerendered-icon" value="true" /> <!-- Icon will be NOT rendered with gloss effect -->
	<preference name="webviewbounce" value="false" /> <!-- prevent the "bouncing" on srolling end -->
	<preference name="show-splash-screen-spinner" value="false" /> <!-- hide the ios spinner on splashscreen -->
	<!-- Android specific -->
	<!-- <preference name="load-url-timeout" value="15000" /> --> <!-- default is 2000ms -->
	
	<!-- ICONS -->
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
	
	<!-- SPLASHSCREENS -->
	<gap:splash src="res/splash/ios/Default.png" 				gap:platform="ios" width="320" height="480" />
	<gap:splash src="res/splash/ios/Default-2x.png" 			gap:platform="ios" width="640" height="960" />
	<gap:splash src="res/splash/ios/Default-iphone5.png"		gap:platform="ios" width="640" height="1136" />
	<gap:splash src="res/splash/ios/Default-Portrait.png" 		gap:platform="ios" width="768" height="1024" />
	<gap:splash src="res/splash/ios/Default-Portrait-2x.png" 	gap:platform="ios" width="1536" height="2048" />

	
	<gap:platforms>
		<gap:platform name="android" minVersion="2.2" />
		<gap:platform name="ios" minVersion="5.0" />
	</gap:platforms>
</widget>